<div class="jumbotron text-center">
    <h1>Customers</h1>

    <p ng-repeat="customer in customers">{{ customer.name }}</p>

    <div id="customer-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Elkerliek" ng-model="formData.text">
                </div>

                <button type="submit" class="btn btn-primary btn-lg" ng-click="createCustomer()">Add</button>
            </form>
        </div>
    </div>
</div>
