doctype
html(ng-app='ribs')
  meta(charset='utf-8')
  title RIBS - Realtime Installed Base
  link(rel='stylesheet', href='bower_modules/bootstrap/dist/css/bootstrap.min.css')
  script(src='bower_modules/angular/angular.min.js')
  script(src='bower_modules/angular-route/angular-route.min.js')
  script(src='ribs.min.js')
body
  nav(class='navbar navbar-inverse')
    #navbar-header
      a(class='navbar-brand' href='/') RIBS

    ul(class='nav navbar-nav')
      li: a(href='/customers') Customers

  div(ng-view)
