doctype

html(ng-app='ribs')
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title RIBS - Realtime Installed Base

    block css
        link(rel='stylesheet', href='bower_modules/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/ribs.css')

    block top-script

body
    block navigation

    block main-content

    block bottom-script
        script(src='bower_modules/jquery/dist/jquery.min.js')
        script(src='bower_modules/bootstrap/dist/js/bootstrap.min.js')
